.footer{
    width: 100%;
    min-height: 410px;
    background-color: #126FE9;
    display: flex;
    padding: 100px 70px;
    justify-content: space-between;

}
.col:first-child{
    flex-basis: 35%;
    margin-right: 40px;
}
.footer .col .mid{
    margin-top: 30px;
    color: #fff;
    line-height: 1.6;
}
.col li{
    list-style: none;
    margin-bottom: 20px;
    color: white;
    cursor: pointer;
    transition: .3s;
}
.col li:first-child:hover{
    color: white;
}
.col li:hover{
    color: #333;
}

@media screen and (max-width: 800px) {
    .footer{
        flex-direction: column;
        gap: 30px;
    }
}