.home{
    width: 100%;
    height: calc(100vh - 80px);
    background-color: #458ff6;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 50px 0 150px ;
}
.home .content{
    flex-basis: 50%;
    /* background-color: white; */
}
.content h2{
    font-size: 50px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 20px;
    line-height: 1.3;
}
.content p{
    color: #eee;
    margin-bottom: 25px;
}
.content button{
    width: 200px;
    height: 55px;
    background-color: #fff;
    border: none;
    border-radius: 50px;
    font-size: 17px;
    font-weight: 600;
    color: #458ff6;
    transition: .4s;
    cursor: pointer;
}
.content button:hover{
    background-color: #126FE9;
    color: #fff;
}
.home .image{
    flex-basis: 50%;
    /* background-color: red; */
}
.image img{
    width: 100%;
}