.ourapp{
    width: 100%;
    padding: 150px 100px 80px;
    display: flex;
    align-items: center;
    padding: 100px 80px 80px 140px;
    gap: 60px;
    
}
.ourapp .content{
    flex-basis: 45%;
}
.ourapp .image{
    flex-basis: 52%;
    /* background-color: red; */
}
.ourapp .content h2{
    color: black;
    padding-bottom: 30px;
    position: relative;
}
.ourapp .content h2:before{
    content: "";
    position: absolute;
    width: 20%;
    height: 2.5px;
    background-color: #000;
    left: 0;
    bottom: 0;
}
.ourapp .content p{
    color: #777;
    font-size: 15px;
}
.ourapp .content button{
    border: 1.5px solid #126FE9;
}
