.appointment{
    background-color: #F0F1F3;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    position: relative;
}
.back{
    position: absolute;
    top: 150px;
    left: 17%;
    background-color: #126FE9;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .2s;
}
.back:hover{
    transform: scale(1.1);
}
.back .back-arrow{
    font-size: 18px;
    color: white;
}

.appointment-form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px 0;
}
.appointment-form form{
    background-color: white;
    padding: 20px;
    width: 55%;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}
.appointment-form form span{
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 20px;
    cursor: pointer;
    transform: .2s;
}
.appointment-form form span:hover{
    color: #126FE9;
}
.appointment-form form h2{
    border-bottom: 1px solid silver;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.appointment-form form .form-control{
    width: 100%;
}
.appointment-form form .form-control input, .appointment-form form .form-control textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #cac9d9;
    font-size: 15px;
    outline: none;
    margin-bottom: 10px;
}
.appointment-form form .form-control input:focus, .appointment-form form .form-control textarea:focus{
    outline: 1px solid #126FE9;
}
.appointment-form form .form-control label{
    margin: 5px 0;
    display: block;
    font-size: 15px;
    color: #444;
}
button.btn-appointment{
    width: 100%;
    border-radius: 5px;
    border-width: 1px;
    transition: .2s;
}
button.btn-appointment:hover{
    box-shadow: none;
}
.error-appointment{
    position: absolute;
    background-color: #f64545;
    color: white;
    padding: 15px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.45);
    top: 40px;
    animation-name: slideDown;
    animation-duration: .25s;
    left: 50%;
    top: 100px;
    transform: translateX(-50%);
    z-index: 1000;
}
.error-text{
    margin-right: 20px;
}
.error-appointment span{
    color: white;
}
.error-appointment span:nth-child(1){
    margin-right: 15px;
}
.error-appointment span:nth-child(3){
    margin-left: auto;
    cursor: pointer;
}
@keyframes slideDown {
    0%{
        top: 90px;
        opacity: 0;
    } 100% {
        top: 100px;
        opacity: 1;
    }
}